/* https://xd.adobe.com/spec/6ebfeb86-6eeb-4b69-77dc-ecf4c4506bcc-188e/
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}


/* ---------------header ---------------*/

header { 
    height: 50px;
    
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    color: var(--clr-dark);
}

.logo button {
    height: 40px;
}


.logo p {
    font-family: var(--ff-secondary);
}

.nav { display: none; }

/* ----------------- Intro section ------------------- */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}


.intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;
}

.intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}    

.section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -.5em;
    width: calc(100% + 2.5em);
}


/* ---------------WHAT I DO ------------------------- */
.my-services {
    background-image: url("./my-services-background-img.jpg");
    background-size: cover;
    background-color: #474747;
    background-blend-mode:multiply ;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px ;
    
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section__title--services {
    color: #16e0bd;
}

.service {
    width: 25%;
    padding: 15px;
}


.service  {
    color: #fff;
}

.portfolio__img {
    width: 30%;
}

.btn {
    text-decoration: none;
    background-color: #16e0bd;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    width: 150px;
    text-align: center;
    color: black;
    letter-spacing: 1.5px;
}

/* -----------ABOUT ME -------------- */

.about-me {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-areas: 
        ". title title"
        "subtitle img ."
        ". img body"
        ;
    grid-template-columns: 50px 300px 630px;
    grid-template-rows: 100px 75px 200px;
    justify-content: center;
    gap: 20px;
}



.section__title--about {
    grid-area: title;
    position: relative;
    left: 20px;
}

.section__subtitle--about {
    grid-area: subtitle;
    position: relative;
    text-align: right;
    grid-column: 1 / 4;
}

.about-me__body {
    grid-area: body;
    position: relative;
    bottom: 30px;
}

.about-me img {
    grid-row: img;
    z-index: 2;
    box-shadow: var(--bs);
    grid-column: 2 / 3;
    position: relative;
    bottom: 30px;
}


/* --------------------MY WORK --------------------------------------- */

.my-work {
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title--work {
    color: #fff;
    margin-bottom: 20px;
}

.section__subtitle--work {
    color:#16e0bd;
}

.portfolio {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
}

.portfolio img {
    width: 300px;
}

 
  
/* ---------------- FOOTER -------------------------- */

footer { 
    background-color: rgba(0,0,0);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.footer-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #16e0bd;
}

footer a {
    text-decoration: none;

}

.social-media-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.social-media-buttons a {
    font-size: 30px;
    width: 50px;
    color: #16e0bd;
}
